<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">

<title>小鱼买买买商城后台管理系统</title>
<link rel="shortcut icon" href="background/img/favicon.ico">

<!-- global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
	rel="stylesheet">
<link rel="stylesheet" href="background/css/bootstrap.min.css">
<link rel="stylesheet"
	href="background/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="background/css/font-icon-style.css">
<link rel="stylesheet" href="background/css/style.default.css"
	id="theme-stylesheet">

<!-- Core stylesheets -->
<link rel="stylesheet" href="background/css/ui-elements/card.css">
<link rel="stylesheet" href="background/css/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<script type="text/javascript">
	function logout() {
		window.location.href = "http://localhost:8283/steels/logout";
	}
</script>
<body>
	<header class="header">
		<nav class="navbar navbar-expand-lg ">
			<div class="search-box">
				<button class="dismiss">
					<i class="icon-close"></i>
				</button>
				<form id="searchForm" action="#" role="search">
					<input type="search" placeholder="Search Now" class="form-control">
				</form>
			</div>
			<div class="container-fluid ">
				<div
					class="navbar-holder d-flex align-items-center justify-content-between">
					<div class="navbar-header">
						<a href="index.html" class="navbar-brand">
							<div class="brand-text brand-big hidden-lg-down">
								<img src="background/img/icon.png" alt="Logo" width="30px"
									height="30px" class="img-fluid rounded-circle">小鱼买买买商城后台管理系统

							</div>
							<div class="brand-text brand-small">
								<img src="background/img/icon.png" alt="Icon" width="60px"
									height="60px" class="img-fluid rounded-circle">
							</div>
						</a> <a id="toggle-btn" href="#" class="menu-btn active"> <span></span>
							<span></span> <span></span>
						</a>
					</div>
				</div>

				<div>2018-12-12 10:10:10 &nbsp;&nbsp; 星期三</div>
				<ul
					class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
					<!-- Expand-->
					<li class="nav-item d-flex align-items-center full_scr_exp"><a
						class="nav-link" href="#"><img src="background/img/expand.png"
							onclick="toggleFullScreen(document.body)" class="img-fluid"
							alt=""></a></li>
					<!-- Search-->
					<li class="nav-item d-flex align-items-center"><a id="search"
						class="nav-link" href="#"><i class="icon-search"></i></a></li>
					<!-- Notifications-->
					<li class="nav-item dropdown"><a id="notifications"
						class="nav-link" rel="nofollow" data-target="#" href="#"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
							class="fa fa-bell-o"></i><span class="noti-numb-bg"></span><span
							class="badge">12</span></a>
						<ul aria-labelledby="notifications" class="dropdown-menu">
							<!-- <li><a href="#">系统管理</a></li> -->
							<li><a href="#">后台首页</a></li>
							<li><a href="#">网站设置</a></li>
							<li><a href="#">网站前台主题</a></li>
							<li><a href="#">网站导航</a></li>
							<li><a href="#">首页幻灯图</a></li>
							<li><a href="#">后台管理主题</a></li>
							<li><a href="#">商家管理主题</a></li></li>
				</ul>
				</li>
				<!-- Messages                        -->
				<li class="nav-item dropdown"><a id="messages"
					class="nav-link logout" rel="nofollow" data-target="#" href="#"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
						class="fa fa-envelope-o"></i><span class="noti-numb-bg"></span><span
						class="badge">10</span></a></li>
				<li class="nav-item dropdown"><a id="profile"
					class="nav-link logout" data-target="#" href="#"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="background/img/we.jpg" alt="..." width="30px"
						height="30px" class="img-fluid rounded-circle">
				</a>
					<ul aria-labelledby="profile" class="dropdown-menu profile">
						<li><a rel="nofollow" href="#" class="dropdown-item d-flex">
								<div class="msg-profile">
									<img src="background/img/we.jpg" alt="..."
										class="img-fluid rounded-circle">
								</div>
								<div class="msg-body">
									<h3 class="h5" th:text="${session.user.name}">系统管理员</h3>
									<span th:text="${session.user.email}">邮箱地址</span>
								</div>
						</a>
							<hr></li>
						<li><a rel="nofollow" href="#" class="dropdown-item">
								<div class="notification">
									<div class="notification-content">
										<i class="fa fa-user "></i>我的信息
									</div>
								</div>
						</a></li>
						<li><a rel="nofollow" href="#" class="dropdown-item">
								<div class="notification">
									<div class="notification-content">
										<i class="fa fa-cog"></i>修改密码
									</div>
								</div>
						</a>
							<hr></li>
						<li><a rel="nofollow" href="/steels/logout"
							class="dropdown-item">
								<div class="notification">
									<div class="notification-content">
										<i class="fa fa-power-off"></i>安全退出
									</div>
								</div>
						</a></li>
					</ul></li>
				
				</ul>
			</div>
		</nav>
	</header>

	<!--====================================================
                        PAGE CONTENT
======================================================-->
	<div class="page-content d-flex align-items-stretch">

		<!--***** SIDE NAVBAR *****-->
		<nav class="side-navbar">
			<div class="sidebar-header d-flex align-items-center">
				<div class="avatar">
					<img src="background/img/we.jpg" alt="..."
						class="img-fluid rounded-circle">
				</div>
				<div class="title">
					<h1 class="h4" th:text="${session.user.name}">系统管理员</h1>
				</div>
			</div>
			<hr>



			<!-- Sidebar Navidation Menus-->
			<ul class="list-unstyled">
			<li><a href="#user" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>会员管理
				</a>
					<ul id="user" class="collapse list-unstyled">
						<li><a href="#">会员列表</a></li>
						<li><a href="#">会员组列表</a></li>
						<li><a href="#">会员提现管理</a></li>
						<li><a href="#">会员消息</a></li>
					</ul></li>
			
			<li><a href="#permission" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>权限管理
				</a>
					<ul id="permission" class="collapse list-unstyled">
						<li><a href="#">管理员列表</a></li>
						<li><a href="#">管理员添加</a></li>
						<li><a href="#">角色</a></li>
						<li><a href="#">权限资源</a></li>

					</ul></li>
			

				<li><a href="#goods" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>商品管理
				</a>
					<ul id="goods" class="collapse list-unstyled">
						<li><a href="#">商品列表</a></li>
						<li><a href="#">普通商品添加</a></li>
						<li><a href="#">虚拟服务商品添加</a></li>
						<li><a href="#">知识付费下载类商品添加</a></li>
					</ul></li>

				<li><a href="#goodscatalog" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>商品分类
				</a>
					<ul id="goodscatalog" class="collapse list-unstyled">
						<li><a href="#">分类列表</a></li>
						<li><a href="#">分类添加</a></li>
					</ul></li>

				<li><a href="#brand" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>品牌管理
				</a>
					<ul id="brand" class="collapse list-unstyled">
						<li><a href="#">品牌分类</a></li>
						<li><a href="#">品牌列表</a></li>
					</ul></li>

				<li><a href="#model" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>模型管理
				</a>
					<ul id="model" class="collapse list-unstyled">
						<li><a href="#">模型列表</a></li>
						<li><a href="#">规格列表</a></li>
						<li><a href="#">规格图库</a></li>
					</ul></li>

				<li><a href="#searchg" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>搜索管理
				</a>
					<ul id="searchg" class="collapse list-unstyled">
						<li><a href="#">关键词列表</a></li>
						<li><a href="#">搜索统计</a></li>
					</ul></li>


				

				<li><a href="#user" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>商户管理
				</a>
					<ul id="user" class="collapse list-unstyled">
						<li><a href="#">商户列表</a></li>
						<li><a href="#">添加商户</a></li>
						<li><a href="#">商户消息</a></li>
						<li><a href="#">单品手续费</a></li>
						<li><a href="#">分类手续费</a></li>
					</ul></li>

				<li><a href="#contentmanager" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>信息处理
				</a>
					<ul id="contentmanager" class="collapse list-unstyled">
						<li><a href="#">建议管理</a></li>
						<li><a href="#">咨询管理</a></li>
						<li><a href="#">讨论管理</a></li>
						<li><a href="#">评价管理</a></li>
						<li><a href="#">到货通知</a></li>
						<li><a href="#">邮件订阅</a></li>
						<li><a href="#">营销短信</a></li>
					</ul></li>

				<li><a href="#ordermanager" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>订单管理
				</a>
					<ul id="ordermanager" class="collapse list-unstyled">
						<li><a href="#">订单列表</a></li>
						<li><a href="#">添加订单</a></li>
						<li><a href="#">单据模板</a></li>
						<li><a href="#">订单导出</a></li>
						<li><a href="#">购物清单、配货单打印</a></li>
						<li><a href="#">物流快递单云打印</a></li>
						<li><a href="#">消费码核销</a></li>
					</ul></li>

				<li><a href="#checkmanager" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>单据管理
				</a>
					<ul id="checkmanager" class="collapse list-unstyled">
						<li><a href="#">收款单</a></li>
						<li><a href="#">退款单</a></li>
						<li><a href="#">发货单</a></li>
						<li><a href="#">退款申请列表</a></li>
					</ul></li>


				<li><a href="#faddrmanager" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-home"></i>发货地址
				</a>
					<ul id="faddrmanager" class="collapse list-unstyled">
						<li><a href="#">发货地址管理</a></li>
					</ul></li>

				<li><a href="#marketing" aria-expanded="false"
					data-toggle="collapse"> <i class="icon-interface-windows"></i>营销管理
				</a>
					<ul id="marketing" class="collapse list-unstyled">
						<li><a href="#">促销活动</a></li>
						<li><a href="#">营销活动</a></li>
						<li><a href="#">代金券管理</a></li>
					</ul></li>

				<li><a href="#statistics" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-bar-chart"></i>统计管理
				</a>
					<ul id="statistics" class="collapse list-unstyled">
						<li><a href="#">用户注册统计</a></li>
						<li><a href="#">人均消费统计</a></li>
						<li><a href="#">消费金额统计</a></li>
						<li><a href="#">充值操作记录</a></li>
						<li><a href="#">后台操作记录</a></li>
						<li><a href="#">货款明细列表</a></li>
						<li><a href="#">货款结算申请</a></li>
					</ul></li>


				<li><a href="#pay" aria-expanded="false" data-toggle="collapse">
						<i class="fa fa-building-o"></i>支付管理
				</a>
					<ul id="pay" class="collapse list-unstyled">
						<li><a href="#">支付方式</a></li>
					</ul></li>


				<li><a href="#third-partyboard" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>第三方平台
				</a>
					<ul id="third-partyboard" class="collapse list-unstyled">
						<li><a href="#">oauth登录</a></li>
						<li><a href="#">手机短信平台</a></li>
					</ul></li>

				<li><a href="#dispatching" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>配送管理
				</a>
					<ul id="dispatching" class="collapse list-unstyled">
						<li><a href="#">配送方式</a></li>
						<li><a href="#">物流公司</a></li>
						<li><a href="#">自提点列表</a></li>
						<li><a href="#">添加自提点</a></li>
					</ul></li>


				<li><a href="#area" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>地区管理
				</a>
					<ul id="area" class="collapse list-unstyled">
						<li><a href="#">地区列表</a></li>
					</ul></li>

				

				<li><a href="#database" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>数据库管理
				</a>
					<ul id="database" class="collapse list-unstyled">
						<li><a href="#">数据库备份</a></li>
						<li><a href="#">数据库还原</a></li>
					</ul></li>
				<li><a href="#doc" aria-expanded="false" data-toggle="collapse">
						<i class="fa fa-file-o"></i>文章管理
				</a>
					<ul id="doc" class="collapse list-unstyled">
						<li><a href="#">文章分类</a></li>
						<li><a href="#">文章列表</a></li>
						<li><a href="#">文章添加</a></li>
					</ul></li>

				<li><a href="#help" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>帮助管理
				</a>
					<ul id="help" class="collapse list-unstyled">
						<li><a href="#">帮助分类</a></li>
						<li><a href="#">帮助列表</a></li>
					</ul></li>


				<li><a href="#advertisement" aria-expanded="false"
					data-toggle="collapse"> <i class="fa fa-file-o"></i>广告管理
				</a>
					<ul id="advertisement" class="collapse list-unstyled">
						<li><a href="#">广告位列表</a></li>
						<li><a href="#">广告列表</a></li>
					</ul></li>

				<li><a href="#"> <i class="icon-grid"></i>报表
				</a></li>

			</ul>
		</nav>

		<div class="content-inner" style="background: #cccccc">
		</div>
	</div>

	<!--Global Javascript -->
	<script src="background/js/jquery.min.js"></script>
	<script src="background/js/popper/popper.min.js"></script>
	<script src="background/js/tether.min.js"></script>
	<script src="background/js/bootstrap.min.js"></script>
	<script src="background/js/jquery.cookie.js"></script>
	<script src="background/js/jquery.validate.min.js"></script>
	<script src="background/js/chart.min.js"></script>
	<script src="background/js/front.js"></script>

	<!--Core Javascript -->
	<script src="background/js/mychart.js"></script>
</body>

</html>